<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #FDBBBC;
        }

        .subtitle {
            text-align: center;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="viewport" media="(max-width: 700px)"
        content="maximum-scale=1.0, user-scalable=no, width=device-width" />

    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='red-rover-logo.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='red-rover-logo.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Red Rover</title>
</head>

<body>
    <a href="{{ url_for('reset') }}">Reset</a>
    <img src="{{ url_for('static', filename='red-rover-logo.png') }}" class="center" />

    {% block content %}{% endblock %}

</body>

</html>