<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #FDBBBC;
        }

        .subtitle {
            text-align: center;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }
    </style>
    <title>Spotify Web Playback SDK Quick Start Tutorial</title>
</head>

<body>
    <a href="{{ url_for('reset') }}">Reset</a>
    <img src="{{ url_for('static', filename='red-rover-logo.png') }}" class="center" />

    {% block content %}{% endblock %}

</body>

</html>