{% extends "base.html" %}

{% block content %}

<p>
    <label for="track_id">Track ID:</label>
    <input id="track_id" type="text" name="track_id" autocomplete="off" value="spotify:album:63iWSELt9V1kV6RSMxN7Ii" />
</p>

<button id="play" disabled="true">Loading</button>

<p>
    {% for route, label in commands.items() %}
    <button class="command command-{{ route }}" value="{{ route }}">
        {{ label }}
    </button>
    {% endfor %}
</p>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    const filename = "{{ url_for('static', filename='spotify.js') }}"
    document.write("<script type='text/javascript' src='" + filename + "?v=" + Date.now() + "'><\/script>");
</script>
<script type="text/javascript">
    function get_track_id() {
        return document.getElementById('track_id').value;
    }
    spotifyInit('{{ access_token }}')
        .then(([player, device_id]) => {
            let play_button = document.getElementById('play');
            play_button.addEventListener('click', () => {
                playTrack(get_track_id(), device_id, '{{ access_token }}');
                player.togglePlay().then(() => {
                    console.log('toggled playback!');
                });
            });
            play_button.textContent = 'Play';
            play_button.disabled = false;
        })
        .catch((error) => {
            console.error(error);
        });
</script>

<script>
    addEventListener('DOMContentLoaded', () => {
        document.querySelector('.command-play').addEventListener('click', defaultHandler);
        document.querySelector('.command-pause').addEventListener('click', defaultHandler);
        document.querySelector('.command-skip').addEventListener('click', defaultHandler);
        document.querySelector('.command-previous').addEventListener('click', defaultHandler);
    }, true);

    function defaultHandler(event) {
        event.preventDefault(); // stop the button from submitting form (if any)
        let clickedButton = event.target;
        let command = clickedButton.value;
        runCommand(command);
    }

    function runCommand(command) {
        // Send the data to our server without reloading the page (AJAX)
        // Create a new request object and set up a handler for the response
        let request = new XMLHttpRequest();
        request.onload = () => {
            // We could do more interesting things with the response
            // or, we could ignore it entirely
            console.log(request.responseText);
        };
        request.open('GET', '/spotify/' + command, true);
        request.send();
    }
</script>

{% endblock %}