{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('spotify_auth_callback') }}" method="POST">
    <p>
        <label for="web_playback_sdk_access_token">Web Playback SDK access token:</label>
        <input type="text" name="web_playback_sdk_access_token"/>
    </p>
    <p>
        <label for="web_api_access_token">Web API access token:</label>
        <input type="text" name="web_api_access_token"/>
    </p>
    <p>
        <input type="submit" value="Submit tokens"/>
    </p>
</form>

<!-- <button>Sign in with Spotify</button> -->

{% endblock %}